{% extends "base.html" %}

{% block page_id %}consumption-trend{% endblock %}

{% block content %}
<div class="card">
    <div class="card-title">每日消费趋势</div>
    <div id="trend-line-chart" class="chart-container"></div>
</div>

<div class="card">
    <div class="card-title">餐次消费分布</div>
    <div id="meal-pie-chart" class="chart-container"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
    window.trendData = {{ trend_data | tojson }};
    window.mealData = {{ meal_data | tojson }};
</script>
{% endblock %}